In [1]:
import pandas as pd


from IPython.core.interactiveshell import InteractiveShell # Importing so we can run multiple lines in one cell
InteractiveShell.ast_node_interactivity = "all" # Code so multiple lines in one cell can be ran simultaenously
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('miami-housing.csv')

 **Data from: https://www.kaggle.com/datasets/deepcontractor/miami-housing-dataset**

In [3]:
df.head(20)

,LATITUDE,LONGITUDE,PARCELNO,SALE_PRC,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,CNTR_DIST,SUBCNTR_DI,HWY_DIST,age,avno60plus,month_sold,structure_quality
0,25.891031,-80.160561,622280070620,440000.0,9375,1753,0,2815.9,12811.4,347.6,42815.3,37742.2,15954.9,67,0,8,4
1,25.891324,-80.153968,622280100460,349000.0,9375,1715,0,4359.1,10648.4,337.8,43504.9,37340.5,18125.0,63,0,9,4
2,25.891334,-80.153740,622280100470,800000.0,9375,2276,49206,4412.9,10574.1,297.1,43530.4,37328.7,18200.5,61,0,2,4
3,25.891765,-80.152657,622280100530,988000.0,12450,2058,10033,4585.0,10156.5,0.0,43797.5,37423.2,18514.4,63,0,9,4
4,25.891825,-80.154639,622280100200,755000.0,12800,1684,16681,4063.4,10836.8,326.6,43599.7,37550.8,17903.4,42,0,7,4
5,25.892060,-80.161354,622280070180,630000.0,9900,1531,2978,2391.4,13017.0,188.9,43135.1,38176.2,15687.2,41,0,2,4
6,25.892473,-80.157217,622280080100,1020000.0,10387,1753,23116,3277.4,11667.8,0.0,43598.7,37973.9,17068.2,63,0,2,5
7,25.893019,-80.157426,622280080400,850000.0,10272,1663,34933,3112.4,11718.1,10.5,43780.8,38198.3,16989.9,21,0,9,4
8,25.893046,-80.161556,622280080020,250000.0,9375,1493,11668,2081.8,13043.8,51.5,43481.7,38542.0,15623.3,56,0,3,4
9,25.893050,-80.158048,622280080370,1220000.0,13803,3077,34580,2937.7,11917.7,9.7,43730.1,38235.2,16787.0,63,0,11,5
10,25.893205,-80.155538,622280080480,1160000.0,10848,1983,28806,3512.0,11062.3,12.1,44018.8,38132.1,17618.3,64,0,2,4
11,25.893461,-80.168370,622290410300,260000.0,8438,1794,0,242.8,15310.4,738.6,43127.5,39333.4,13433.6,51,0,11,2
12,25.893527,-80.166857,622290410220,178000.0,8438,1509,1248,652.2,14808.8,366.5,43244.6,39200.2,13927.0,56,0,7,2
13,25.893530,-80.166665,622290410210,250000.0,8438,1331,0,705.0,14750.0,353.2,43261.2,39184.8,13995.2,66,0,7,2
14,25.894156,-80.159059,622280080970,913500.0,8475,1742,9836,2432.6,12230.7,0.0,44047.7,38727.5,16494.0,46,0,9,5
15,25.894357,-80.168043,622290410080,159000.0,8375,1158,2677,164.0,15183.5,537.6,43467.9,39609.3,13555.8,65,0,11,2
16,25.894365,-80.167856,622290410070,199000.0,8375,1064,6730,209.4,15119.1,473.2,43481.3,39591.8,13615.1,48,0,6,2
17,25.894441,-80.161129,622280080090,590000.0,9375,2574,37975,1847.6,12871.0,42.0,44007.1,38994.4,15786.3,62,0,10,4
18,25.894664,-80.161061,622280120010,450000.0,10625,1529,3607,1805.9,12840.6,43.0,44081.8,39058.8,15809.4,61,0,2,4
19,25.895404,-80.154410,622280120740,1870000.0,10875,4552,35124,3253.8,10645.2,0.0,44898.4,38841.8,18007.8,8,0,3,5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13932 entries, 0 to 13931
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LATITUDE           13932 non-null  float64
 1   LONGITUDE          13932 non-null  float64
 2   PARCELNO           13932 non-null  int64
 3   SALE_PRC           13932 non-null  float64
 4   LND_SQFOOT         13932 non-null  int64
 5   TOT_LVG_AREA       13932 non-null  int64
 6   SPEC_FEAT_VAL      13932 non-null  int64
 7   RAIL_DIST          13932 non-null  float64
 8   OCEAN_DIST         13932 non-null  float64
 9   WATER_DIST         13932 non-null  float64
 10  CNTR_DIST          13932 non-null  float64
 11  SUBCNTR_DI         13932 non-null  float64
 12  HWY_DIST           13932 non-null  float64
 13  age                13932 non-null  int64
 14  avno60plus         13932 non-null  int64
 15  month_sold         13932 non-null  int64
 16  structure_quality  13932 non-null  int64
dtypes: float64(9), int64(8)
memory usage: 1.8 MB

In [5]:
# Splittin the data into features and target variables
X = df.drop('SALE_PRC', axis=1)
y = df['SALE_PRC']

In [6]:
X.shape

(13932, 16)

In [7]:
y.shape

(13932,)

In [8]:
# Get all column names
all_columns = df.columns.tolist()

# List of all column names except SALE_PRC
feature_names = [col for col in all_columns if col != 'SALE_PRC']

# List containing only SALE_PRC
target_name = ['SALE_PRC']

In [9]:
# Scaling the features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [11]:
X = pd.DataFrame(X, columns=feature_names)

In [12]:
X.head()

,LATITUDE,LONGITUDE,PARCELNO,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,CNTR_DIST,SUBCNTR_DI,HWY_DIST,age,avno60plus,month_sold,structure_quality
0,1.153532,1.871328,-1.446087,0.124240,-0.374974,-0.688421,-0.895569,-1.073043,-0.973193,-0.802161,-0.152197,1.356321,1.717578,-0.123109,0.407151,0.442866
1,1.155620,1.945244,-1.446087,0.124240,-0.421685,-0.688421,-0.645771,-1.195979,-0.974014,-0.780616,-0.170324,1.713909,1.528474,-0.123109,0.710053,0.442866
2,1.155690,1.947800,-1.446087,0.124240,0.267920,2.854008,-0.637063,-1.200202,-0.977425,-0.779819,-0.170856,1.726350,1.433921,-0.123109,-1.410257,0.442866
3,1.158752,1.959935,-1.446087,0.630840,-0.000055,0.033873,-0.609205,-1.223937,-1.002323,-0.771474,-0.166592,1.778074,1.528474,-0.123109,0.710053,0.442866
4,1.159178,1.937710,-1.446087,0.688502,-0.459791,0.512474,-0.693636,-1.185271,-0.974953,-0.777654,-0.160834,1.677394,0.535674,-0.123109,0.104250,0.442866